VITE_SUPABASE_URL=https://odnaecsovijkjooqysll.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9kbmFlY3Nvdmlqa2pvb3F5c2xsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzNzIwMjAsImV4cCI6MjA5MDk0ODAyMH0.OwaoF6g0yOnbhkQTqnPUUHsoWsS8KGT6Eq6yd9D_SToe